body {
    background-color: #E0EBEA;
    border-style: hidden;
    padding: 20px;
    margin: 20px;
}
a {
    color: white;
}
.image img
{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    float: right;
}
.heading {
    text-align: center;
}